<html>
    <script type="text/javascript">
    var canvas, ctx, flag = false,
        prevX = 0,
        currX = 0,
        prevY = 0,
        currY = 0,
        dot_flag = false;

    var x = "black",
        y = 2;

    var pixelsPerDim = 28; //28 x 28 pixels on canvas
    var resolution; 
    var bitmap = [];
    var pixelEmpty = 0;
    var pixelFull = 255;

    while(bitmap.length < pixelsPerDim) {
        b = [];
        while(b.length < pixelsPerDim)
            b.push(pixelEmpty);
        bitmap.push(b);
    }

    function w() {
      return canvas.width;
    }
    function h() {
      return canvas.height;
    }

    function init() {
        canvas = document.getElementById('can');
        ctx = canvas.getContext("2d");

        resolution = w() / pixelsPerDim;
    
        canvas.addEventListener("mousemove", function (e) {
            findxy('move', e)
        }, false);
        canvas.addEventListener("mousedown", function (e) {
            findxy('down', e)
        }, false);
        canvas.addEventListener("mouseup", function (e) {
            findxy('up', e)
        }, false);
        canvas.addEventListener("mouseout", function (e) {
            findxy('out', e)
        }, false);
    }
    
    function color(obj) {
        switch (obj.id) {
            case "green":
                x = "green";
                break;
            case "blue":
                x = "blue";
                break;
            case "red":
                x = "red";
                break;
            case "yellow":
                x = "yellow";
                break;
            case "orange":
                x = "orange";
                break;
            case "black":
                x = "black";
                break;
            case "white":
                x = "white";
                break;
        }
        if (x == "white") y = 14;
        else y = 2;
    
    }
    

    /*
    function draw() {
        ctx.beginPath();
        ctx.moveTo(prevX, prevY);
        ctx.lineTo(currX, currY);
        ctx.strokeStyle = x;
        ctx.lineWidth = y;
        ctx.stroke();
        ctx.closePath();
    }
    */
    function draw() {
        rects = findRects(prevX, prevY, currX, currY);
        for(var i = 0; i < rects.length; i++) {
            // console.log(rects[i]);
            bitmap[rects[i][0]][rects[i][1]] = pixelFull;
        }

        for(var i = 0; i < pixelsPerDim; i++) {
            for(var j = 0; j < pixelsPerDim; j++) {
                if(bitmap[i][j] != pixelEmpty) {
                    ctx.fillStyle = x;
                }else {
                    ctx.fillStyle = "white";
                }
                ctx.fillRect(i * resolution, j * resolution, resolution, resolution);
            }
        }
    }
    
    function erase() {
        //var m = confirm("Want to clear");
        //if (m) {
            // ctx.clearRect(0, 0, w, h);
            for(var i = 0; i < bitmap.length; i++) {
                bitmap[i].fill(pixelEmpty);
            }
            ctx.fillStyle = "white";
            ctx.fillRect(0, 0, w(), h());
        //}
    }
    
    function findRectAt(x, y) {
        return [
            Math.floor(x / resolution),
            Math.floor(y / resolution)
            ];
    }

    function findRects(startX, startY, endX, endY) {
        // finds all rectangles on path from (startX, startY) to (endX, endY) and
        // returns an array of coordinates (as tuples) 
        var rects = [], currX = startX, currY = startY, rectX, rectY;
        var offsetX = endX - startX, offsetY = endY - startY;
        var magn = Math.sqrt(offsetX * offsetX + offsetY * offsetY); 
        offsetX /= magn;
        offsetY /= magn;
        
        rects.push(findRectAt(startX, startY));
        
        while(Math.round(currX) != endX && Math.round(currY) != endY) {
            currX += offsetX;
            currY += offsetY;
            rect = findRectAt(currX, currY)
            if(rect[0] != rects[rects.length - 1][0] && rect[1] != rects[rects.length - 1][1]){
                rects.push(rect);
            }
        }

        return rects;
    }

    function findxy(res, e) {
        if (res == 'down') {
            prevX = currX;
            prevY = currY;
            currX = e.clientX - canvas.offsetLeft;
            currY = e.clientY - canvas.offsetTop;
    
            flag = true;
            dot_flag = true;
            if (dot_flag) {
                /*
                ctx.beginPath();
                ctx.fillStyle = x;
                ctx.fillRect(currX, currY, 2, 2);
                ctx.closePath();
                dot_flag = false;
                */
                ctx.fillStyle = x;
                rect = findRectAt(currX, currY);
                bitmap[rect[0]][rect[1]] = pixelFull;
                ctx.fillRect(rect[0] * resolution, rect[1] * resolution, resolution, resolution);
            }
        }
        
        if (res == 'up' || res == "out") {
          if(flag){
            postData();
          }
            flag = false;
        }
        if (res == 'move') {
            if (flag) {
                prevX = currX;
                prevY = currY;
                currX = e.clientX - canvas.offsetLeft;
                currY = e.clientY - canvas.offsetTop;
                draw();
            }
        }
    }


    function postData() {
      // console.log(ctx.getImageData(0, 0, w, h));

        bitmapRotated = [];
        while(bitmapRotated.length < bitmap.length) {
            bitmapRotated.push([]);
            while(bitmapRotated[bitmapRotated.length - 1].length < bitmap.length) {
                bitmapRotated[bitmapRotated.length - 1].push(0);
            }
        }

        for(var i = 0; i < bitmap.length; i++) {
                for(var j = 0; j < bitmap[i].length; j++) {
                    bitmapRotated[j][i] = bitmap[i][j];
                }
            }

      fetch('/predict', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
        
          body: JSON.stringify({
            'bitmap': bitmapRotated
          })
        })
        .then(function (response) {
          return response.text();
        })
        .then(function (text) {
          console.log('(postData) POST response: ');
          console.log(text);
        })
        .then(function () {
          fetch('/predict').
          then(function (response) {
            return response.json();
          })
          .then(function (json) {
            
            console.log('(postData) GET response as json: ');
            console.log(json);
          })
        });
    }

    </script>

    <body onload="init()">
      <div style="width:100%;height:100%;display:flex;justify-content:center;align-items:center;">
        <canvas id="can" width="400" height="400" style="margin-top:10%;border:2px solid;display:table;margin:auto;"></canvas>
        <input type="button" value="predict" id="btn" size="30" onclick="postData()" style="width:100;height:50;position:absolute;bottom:0;left:0;">
        <input type="button" value="clear" id="clr" size="23" onclick="erase()" style="width:100;height:50;position:absolute;bottom:0;right:0;">
      </div>
    </body>
</html>