<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  

</head>

<body>
  <script>
    function postData() {
      fetch('/hello')
        .then(function (response) {
            return response.text();
        }).then(function (text) {
            console.log('GET response text: ');
            console.log(text);
        });
      
        fetch('/hello')
        .then(function (response) {
            return response.json();
        })
        .then(function (json) {
            console.log('GET response as JSON: ');
            console.log(json);
        });
      
      
        fetch('/hello', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
        
          body: JSON.stringify({
            'greeting': 'Hello from the browser!'
          })
        })
        .then(function (response) {
          return response.text();
        })
        .then(function (text) {
          console.log('POST response: ');
          console.log(text);
        });
      };

      postData();
  </script>
</body>
</html>